---
import ReactjsIco from "../icons/ReactjsIco.astro";
import TailwindIco from "../icons/TailwindIco.astro";
import FirebaseIco from "../icons/FirebaseIco.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-blue-900 text-white",
    icon: ReactjsIco,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-sky-900 text-white",
    icon: TailwindIco,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-red-900 text-white",
    icon: FirebaseIco,
  },
};

const PROJECTS = [
  {
    title: "Seprenchat",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nisl lacinia ultrices. Nullam nec purus nec nisl lacinia ultrices.",
    link: "https://seprenchat.vercel.app",
    github: "https://github.com/pedromocco/seprenchat",
    image: "/projects/seprenchat.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.FIREBASE],
  },
  {
    title: "Seprenchat",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nisl lacinia ultrices. Nullam nec purus nec nisl lacinia ultrices.",
    link: "https://seprenchat.vercel.app",
    github: "https://github.com/pedromocco/seprenchat",
    image: "/projects/seprenchat.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.FIREBASE],
  },
  {
    title: "Seprenchat",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nisl lacinia ultrices. Nullam nec purus nec nisl lacinia ultrices.",
    link: "https://seprenchat.vercel.app",
    github: "https://github.com/pedromocco/seprenchat",
    image: "/projects/seprenchat.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.FIREBASE],
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
  {
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
      <div class="max-w lg:w-60 mt-5 border border-gray-200/20 rounded-lg hover:shadow-lg hover:shadow-blue-500/10 hover:scale-105 transition dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg" src={image} alt={title} />
        </a>
        <div class="p-5 lg:w-60">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">
            {title}
          </h5>
          <div class="flex gap-x-4 items-center flex-row">
            {tags.map((tag) => (
              <li
                title={tag.name}
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} p-1 px-3 mb-4`}
              >
                <tag.icon class="size-4" />
              </li>
            ))}
          </div>
          <p class="mb-3 font-normal text-pretty text-white dark:text-gray-400 opacity-60">
            {description}
          </p>

          <div class="flex gap-x-4 mt-4">
            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 hover:scale-105 transition">
              <a
                href={github}
                target="_blank"
                rel="noopener"
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
              >
                Github
              </a>
            </button>
            <a
              href={link}
              target="_blank"
              rel="noopener"
              class="text-white hover:bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 hover:shadow-lg hover:shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 hover:scale-105 transition"
            >
              Link
            </a>
          </div>
        </div>
      </div>
    ))
  }
</div>
